.item__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 15px;
  width: 100%;
  height: auto;
  order: 2;
  margin-top: 20px;
}


.item {
  display: flex;
  flex-direction: column;
  grid-column: 4 span;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #EEEEEF;
  transition: all 0.3s;
}


.item:hover {
  box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.3);
  transition: all 0.3s;
}

.image-container {
  display: flex;
  position: relative;
}

.item__img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 4px;
}

.item-column {
  grid-column: 12 span;
  display: flex;
}


.item-column__img-wrapper {
  position: relative;
}

.item-column__left {
  display: block;
}

.item-column__info {
  position: relative;
  width: 60%;
  margin-left: 40px;
}

.item-column__item {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  border-bottom: 1px dashed rgb(219, 219, 219);
}

.item-column-title {
  font-weight: 700;
  line-height: 130%;
  color: #1E212C;
}

.item-column__name {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 10px;
  border-bottom: 2px dashed #17696A;
  margin-bottom: 40px;
}

.item-column__name:hover {
  color: #17696A;
}

.item-column__price {
  display: flex;
  position: absolute;
  padding-bottom: 5px;
  bottom: 0;
  right: 0;
  border-bottom: 1px dashed rgb(165, 165, 165);
}

.item-column__img {
  width: 320px;
  aspect-ratio: 1 / 1.35;
  object-fit: cover;
  border-radius: 10px;
}

.item-column__colors {
  display: flex;
}

.item-column__color {
  display: block;
  width: 24px;
  height: 24px;
  padding: 3px;
  border-radius: 50%;
  background-color: #333;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 14%);
  margin-left: 10px;
}

.item-column__fav {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
}

.sale-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 8px;
  position: absolute;
  width: 54px;
  height: 28px;
  left: 16px;
  top: 16px;
  background: #FF4242;
  border-radius: 4px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.item__name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424551;
  padding: 15px 15px 0 15px;
}

.item__allprice {
  display: flex;
  align-items: center;
  padding: 0 15px 15px 15px;
}

.item__price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #1E212C;
}

.item__discount-price {
  color: red;
}

.item__without-discount {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: #787A80;
  margin-left: 12px;
}


.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 25px;
  right: 15px;
  transition: all 0.3s;
}

.bi-heart,
.bi-heart-fill {
  position: relative;
  color: #17696A;
  transition: all 0.3s;
}


.favorites-container:hover {
  background-color: #17696A;
  transition: all 0.3s;
}

.favorites-container:hover>.bi-heart-fill {
  color: #FFFFFF;
  transition: all 0.3s;
}

.favorites-container:hover>.bi-heart {
  color: #FFFFFF;
  transition: all 0.3s;
}



@media (max-width: 1024px) {

  .item {
    grid-column: 6 span;
  }

  .item-column {
    flex-wrap: wrap;
  }

  .item-left {
    width: 100%;
  }

  .item-column:not(:last-child) {
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 20px;
  }

  .item-column__price {
    position: relative;
    border-bottom: 0;
    padding: 5px 0;
  }

  .item-column__img {
    width: 100%;
    aspect-ratio: 1 / 0.5;
    object-fit: cover;
    border-radius: 10px;
  }

  .item-column__info {
    width: 100%;
    margin-left: 0;
  }



}

@media (max-width: 860px) {

  .item {
    grid-column: 12 span;
  }

}


@media (max-width: 760px) {

  .item {
    grid-column: 12 span;
  }

  .change-view {
    margin-left: 30px;
  }

}



@media (max-width: 640px) {


  .filters-wrapper {
    max-width: 100%;
    height: auto;
    order: 1;
    margin-right: 0;
  }

  .filter-box {
    width: 100%;
  }

  .item-column__img {
    width: 100%;
    aspect-ratio: 1 / 1.35;
    object-fit: cover;
    border-radius: 10px;
  }

  .filter-container__price {
    width: 98%;
  }

  .main__top-bar {
    flex-wrap: wrap;
  }

  .change-view {
    margin-left: 0;
    width: 15%;
  }

  .show-filters {
    width: 85%;
  }

  .change-view {
    order: 1;
  }

  .sort {
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }

  .item {
    grid-column: 6 span;
  }


  .filters__and__cards {
    flex-wrap: wrap;
  }

  .item__container {
    width: 100%;
  }

}


@media (max-width: 480px) {

  .item {
    grid-column: 12 span;
  }

}