@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('./assets/css/reboot.css');
@import url('./assets/css/normalize.css');
@import url('./assets/css/header.css');


@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

body {
    color: rgb(0, 0, 0);
    background: #fff;
    font-family: Lato, Arial, sans-serif;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.container_main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    max-width: 1230px;
}



@import url('./assets/css/auth.css');