.auth {
    max-width: 390px;
    margin-top: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.auth__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
}

.auth__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.auth__item {
    max-width: 390px;
    width: 100%;
    margin-top: 25px;
}

.auth__email {
    color: #fff;
}

.auth__input::placeholder {
    color: #9A9CA5;
}

.auth__input_row {
    min-width: 360px;
}

.auth__input-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 7px;
    text-align: left;
}

.auth__btn {
    width: 100%;
    margin-top: 30px;
    background: #17696A;
    border-color: #17696A;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.auth__btn:hover,
.auth__btn:active,
.auth__btn:focus,
.auth__btn:visited {
    background-color: #126061;
    border-color: #126061;
}

.auth__info {
    margin-top: 8px;
    text-align: left;
}

.auth__link {
    color: #17696A;
}

.auth__link:hover {
    color: #104f50;
}